body{
	margin: 0px;
	padding-top: 50px;
}

.bar{
	background-color: rgba(0,0,0,0.8);
	height: 50px;
	position: fixed;
	top: 0%;
	width: 100%;
}

.nav{
	list-style: none;
	float: right;
	display: flex;
	flex-direction: row;
}

.logo{
	color: white;
	float: left;
	padding: 1em;
}

.nav li{
	padding: 0em 1em 0em 1em;
}

.nav li a{
	text-decoration: none;
	font-family: "Roboto", sans serif;
	padding: 1em;
	color: white;
}