*{
	margin: 0px;
	padding: 0px;
}

.bar{
	background-color: rgba(0,0,0,0.8);
	height: 50px;
	position: fixed;
	top: 0%;
	width: 100%;
}

.nav{
	list-style: none;
	float: right;
	display: flex;
	flex-direction: row;
}

.logo{
	color: white;
	float: left;
	padding: 1em;
}

.nav li{
	padding: 1em;
}

.nav li a{
	text-decoration: none;
	font-family: "Roboto", sans serif;
	padding: 1em;
	color: white;
}

.main{
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.3), rgba(0,0,0,0.6)), url("images/back2.jpg");
	background-size: cover;
	background-position: 50% 20%;
	padding-top: 2em;
	padding-left: 6em;
	height: 100%;
}

.head{
	margin-top: 2.5em;
	font-size: 4em;
	color: white;
	text-shadow: 3px 3px black;
	margin-bottom: 0.6em;
}

.desc{
	font-size: 1.3em;
	color: white;
	padding-bottom: 2em;
	line-height: 1.5em;
}

.main input{
	padding: 1em;
	padding-left: 1.4em;
	padding-right: 1.4em;
	border-radius: 5px;
	background-color: maroon;
	border: 0px;
	margin-bottom: 9em;
}